{% extends 'base.html ' %}

{% block stylesheet%}
{% endblock stylesheet%}
{% block title%}
Payment
{% endblock title%}

{% block content%}

<body style="background-color:#b7e4c7;" >
<div class="container-fluid d-flex justify-content-center  align-items-center " style="height:100vh;">
<div>
 <div id="paypal-button-container">
     <h3 class="text-primary">Select a payment method
    </h3>

 </div>
        <kbd><a href="{% url 'profile' %}" class="text-decoration-none text-reset">Payment setup not finished so return to order page</a></kbd>

</div>

</div>
<script
    src="https://www.paypal.com/sdk/js?client-id=AQSPyykS1uTB6k2wvrqTEmje4MHrm81KH49e5OoozaPFft_8iYRcTnQsSIynyTkA66u5Y38GdDUr7aKp"> // Required. Replace SB_CLIENT_ID with your sandbox client ID.
  </script>
<script>
     paypal.Buttons({
    createOrder: function(data, actions) {
      // This function sets up the details of the transaction, including the amount and line item details.
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: '0.01'
          }
        }]
      });
    },
    onApprove: function(data, actions) {
      // This function captures the funds from the transaction.
      return actions.order.capture().then(function(details) {
        // This function shows a transaction success message to your buyer.
        alert('Transaction completed by ' + details.payer.name.given_name);
      });
    }
  }).render('#paypal-button-container');
  //This function displays Smart Payment Buttons on your web page.
</script>


</body>
{% endblock content%}